.Avatar{
  width: 130px;
  height: 130px;
  border-radius:60%;
  object-fit: cover;
}
.Avatar-container{
    margin-bottom: 30px;

}
.card {
    max-width: 400px ;
    margin: 40px auto;
    background-color: #EE82EE;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(red, green, blue);
}

.description {
    margin-bottom:15px;
}

.contact {
    margin-bottom: 15px;
    font-weight: bold;
}

.links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.link-card{
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    text-decoration: none;
}

.card ul {
    text-align: left;
    margin-bottom: 10px;
}
